<div class="container" role="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home </a>
        </li>
        <% if (emp && (emp.department === 'Order'||emp.department ==='Boss')) { %>
        <li class="nav-item active">
          <a class="nav-link" href="/order">Order</a>
        </li>
        <% }%>
        <% if (emp && (emp.department === 'Inventory'||emp.department === 'Boss')) { %>
        <li class="nav-item">
          <a class="nav-link" href="/inventory">Inventory</a>
        </li>
        <% }%>
        <% if (emp && (emp.department === 'Finance'||emp.department ==='Boss')) { %>
        <li class="nav-item">
          <a class="nav-link" href="/finance">Finance</a>
        </li>
        <% }%>
        <% if (emp && (emp.department === 'HumanResource'||emp.department ==='Boss')) { %>
        <li class="nav-item">
          <a class="nav-link" href="/human-resource">Human Resource</a>
        </li>
        <% }%>
      </ul>
    </div>
    <% if (emp) { %>
    <form action="/logout" method="POST" class="form-inline my-2" onsubmit="login(this);return false">
      <div class="form-group">
        <span class="navbar-text mr-sm-2">hi,
          <%=emp.username%></span>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button>
      </div>
    </form>
    <%} else {%>
    <form action="/login" method="POST" class="form-inline my-2" onsubmit="login(this);return false">
      <div class="form-group">
        <input name="username" class="form-control mr-sm-2" type="text" placeholder="Username" value="boss">
        <input name="password" class="form-control mr-sm-2" type="password" placeholder="Password" value="123456">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
      </div>
    </form>
    <% }%>
  </nav>
</div>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Recycle</h1>
      <p class="lead">Enterprise Information System</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <h5 class="card-header">Order ID:
      <%=  orderModel.id%>
    </h5>
    <div class="card-body">
      <h5 class="card-title">Order Status:
        <% if (orderModel.orderStatus === 'isDelivered' ) {%>
        Delivered
        <%  } else if (orderModel.orderStatus === 'isOrdered' ) { %>
        Undelivered
        <%  }%>
      </h5>
      <p class="card-text">Payer:
        <%= orderModel.orderUsername %>
      </p>
      <p class="card-text">Delivery Address:
        <%= orderModel.orderAddress %>
      </p>
      <p class="card-text">Order Date:
        <%= orderModel.orderDate %>
      </p>
      <p class="card-text">Payment Card No.:
        <%= orderModel.orderPaymentCard %>
      </p>
      <p class="card-text">Order Price:
        <%= orderModel.orderPrice %>
      </p>
      <% if (orderModel.orderStatus === 'isDelivered') {%>
      <p class="card-text">Operation Staff:
        <%= orderModel.manipulatedBy[0].username %>
      </p>
      <p class="card-text">Tracking Number:
        <%= orderModel.orderTrackingNumber %>
      </p>
      <%} else if(orderModel.orderStatus === 'isOrdered')  {%>
      <div class="input-group mb-3">
        <input id="tracking-number" type="text" class="form-control" placeholder="Tracking Number" aria-label="Tracking Number"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" value="<%=orderModel.id%>" type="button" id="button-addon2" onclick="deliver(this)">Deliver</button>
        </div>
      </div>
      <%} %>
      <a href="/order" class="btn btn-Link">Back to Order List</a>
    </div>
  </div>
</div>
<script>
  async function deliver(button) {
    var trackingNumber = document.getElementById("tracking-number").value;
    var response = await fetch("/order/deliver", {
      method: "POST",
      credentials: 'same-origin',
      body: JSON.stringify({
        trackingNumber: trackingNumber,
        orderId: button.value,
      }),
    });
    if (response.status == 200) {
      location.reload(true);
      alert('Deliver Successful');
    } else {
      alert('An Error occurred');
    }
  }

</script>
